# Servidor
PORT=3000
NODE_ENV=development
# Banco de Dados
DB_HOST=localhost
DB_PORT=3306
DB_NAME=notificacoes_db
DB_USER=root
DB_PASSWORD=
# E-mail (MailPit — mesmo IP do servidor da sala)
SMTP_HOST=10.137.146.106
SMTP_PORT=1025